.premium__wrapper{
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  &__quote{
    font-size: 80px;
  }
  &__container{
    background-image: url("https://campaigns.scdn.co/images/premium_dancer_prod.png");
    background-repeat: no-repeat;
    height: 50%;
    width: 50%;
    min-height: 2500px;
  }

}
